.root {
  height: 68vh;
  display: flex;
}

.content {
  margin: auto;
  width: 87vw;
}

.info {
  font-size: 180px;
  line-height: 216px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.subInfo {
  font-size: 25px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4vh;
  margin-top: 25px;
}

@media (max-width: 750px) {
  .info {
    font-size: 120px;
    line-height: 155px;
  }
}